@font-face { font-family: LogoFont; src: url(font/Walkway_SemiBold.ttf); }
@font-face { font-family: fontBold; src: url(font/Walkway_Bold.ttf); }

html, body { 
	margin: 0; 
	padding: 0;
	background-color: black;
	color: white;
}

#openerDiv {
}

#quote {
	font-family: LogoFont, Verdana, sans-serif;
	font-size: 15px;
	position: absolute; 
	bottom: 4px; 
	right: 4px;
}

#box {
	display:none; 
	background-color: rgba(0, 0, 0, 0.6);
}

.themeImage{
	width:150px;
	height:100px;
	margin-right:20px;
}

h1 {
	padding: 0px;
	margin: 0px;
}

.details {
	text-align: justify;
}

td {
	padding-left:20px;
	vertical-align: top;
}
